<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .link {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.2s;
    }

    .link:hover, .link:focus {
        background-color: #0056b3;
        color: white;
        text-decoration: none;
    }

    form {
        width: 60%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
<div class="container">
  <h1>Editing movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Show this movie", @movie, class:"link" %> |
    <%= link_to "Back to movies", movies_path, class:"link" %>
  </div>
</div>

